MySolution/FrameWork.VC.db
MySolution/.vs/FrameWork/v14/.suo
MySolution/Client/bin/Client.exe
MySolution/Client/bin/Client.ilk
MySolution/Client/bin/Client.pdb
MySolution/Client/default/x64/Debug/BackGround.obj
MySolution/Client/default/x64/Debug/BugMorph.obj
MySolution/Client/default/x64/Debug/Camera_Dynamic.obj
MySolution/Client/default/x64/Debug/Client.log
MySolution/Client/default/x64/Debug/Client.obj
MySolution/Client/default/x64/Debug/Client.pch
MySolution/Client/default/x64/Debug/Client.res
MySolution/Client/default/x64/Debug/EnvironmentObject.obj
MySolution/Client/default/x64/Debug/Level_GamePlay.obj
MySolution/Client/default/x64/Debug/Level_Loading.obj
MySolution/Client/default/x64/Debug/Level_Logo.obj
MySolution/Client/default/x64/Debug/Loader.obj
MySolution/Client/default/x64/Debug/MainApp.obj
MySolution/Client/default/x64/Debug/Player.obj
MySolution/Client/default/x64/Debug/Sky.obj
MySolution/Client/default/x64/Debug/SMG.obj
MySolution/Client/default/x64/Debug/stdafx.obj
MySolution/Client/default/x64/Debug/Terrain.obj
MySolution/Client/default/x64/Debug/vc140.idb
MySolution/Client/default/x64/Debug/vc140.pdb
MySolution/Client/default/x64/Debug/Client.tlog/CL.command.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/CL.read.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/CL.write.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/Client.lastbuildstate
MySolution/Client/default/x64/Debug/Client.tlog/Client.write.1u.tlog
MySolution/Client/default/x64/Debug/Client.tlog/FXC.command.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/fxc.read.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/fxc.write.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/link.command.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/link.read.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/link.write.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/rc.command.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/rc.read.1.tlog
MySolution/Client/default/x64/Debug/Client.tlog/rc.write.1.tlog
MySolution/ipch/CLIENT-f5f07331/CLIENT-7e8bf9a9.ipch
MySolution/Tool/x64/Debug/Form.obj
MySolution/Tool/x64/Debug/MainFrm.obj
MySolution/Tool/x64/Debug/NaviPoint.obj
MySolution/Tool/x64/Debug/stdafx.obj
MySolution/Tool/x64/Debug/TabObject.obj
MySolution/Tool/x64/Debug/TapEffect.obj
MySolution/Tool/x64/Debug/TapMap.obj
MySolution/Tool/x64/Debug/TapUI.obj
MySolution/Tool/x64/Debug/Tool.log
MySolution/Tool/x64/Debug/Tool.obj
MySolution/Tool/x64/Debug/Tool.pch
MySolution/Tool/x64/Debug/Tool.res
MySolution/Tool/x64/Debug/ToolCamera.obj
MySolution/Tool/x64/Debug/ToolDoc.obj
MySolution/Tool/x64/Debug/ToolMouse.obj
MySolution/Tool/x64/Debug/ToolObject.obj
MySolution/Tool/x64/Debug/ToolRect.obj
MySolution/Tool/x64/Debug/ToolTerrain.obj
MySolution/Tool/x64/Debug/ToolView.obj
MySolution/Tool/x64/Debug/vc140.idb
MySolution/Tool/x64/Debug/vc140.pdb
MySolution/Tool/x64/Debug/Tool.tlog/CL.command.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/CL.read.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/CL.write.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/link.command.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/link.read.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/link.write.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/rc.command.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/rc.read.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/rc.write.1.tlog
MySolution/Tool/x64/Debug/Tool.tlog/Tool.lastbuildstate
